.elementor-10755 .elementor-element.elementor-element-a73c080:not(.elementor-motion-effects-element-type-background), .elementor-10755 .elementor-element.elementor-element-a73c080 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #000000 0%, #111111 100%);}.elementor-10755 .elementor-element.elementor-element-a73c080{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 0% 5% 0%;}.elementor-10755 .elementor-element.elementor-element-a73c080 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10755 .elementor-element.elementor-element-244d44a.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-10755 .elementor-element.elementor-element-244d44a > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10755 .elementor-element.elementor-element-c787d88{width:var( --container-widget-width, 80% );max-width:80%;--container-widget-width:80%;--container-widget-flex-grow:0;}.elementor-10755 .elementor-element.elementor-element-3a07696:not(.elementor-motion-effects-element-type-background), .elementor-10755 .elementor-element.elementor-element-3a07696 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#111111;}.elementor-10755 .elementor-element.elementor-element-3a07696{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:30px 0px 90px 0px;}.elementor-10755 .elementor-element.elementor-element-3a07696 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10755 .elementor-element.elementor-element-2273e1b{text-align:center;}.elementor-10755 .elementor-element.elementor-element-2273e1b .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:2.6vw;font-weight:500;text-transform:uppercase;line-height:1.5em;}.elementor-10755 .elementor-element.elementor-element-bcfcacd:not(.elementor-motion-effects-element-type-background), .elementor-10755 .elementor-element.elementor-element-bcfcacd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#111111;}.elementor-10755 .elementor-element.elementor-element-bcfcacd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 2% 0% 2%;}.elementor-10755 .elementor-element.elementor-element-bcfcacd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10755 .elementor-element.elementor-element-60185c6 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-10755 .elementor-element.elementor-element-33bf062 .elementor-button{background-color:#02010100;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:400;text-transform:uppercase;fill:#FFFFFF;color:#FFFFFF;border-radius:0px 0px 0px 0px;padding:9px 18px 9px 18px;}.elementor-10755 .elementor-element.elementor-element-33bf062{width:initial;max-width:initial;z-index:2;}.elementor-10755 .elementor-element.elementor-element-33bf062 .elementor-button:hover, .elementor-10755 .elementor-element.elementor-element-33bf062 .elementor-button:focus{color:#000000;}.elementor-10755 .elementor-element.elementor-element-33bf062 .elementor-button:hover svg, .elementor-10755 .elementor-element.elementor-element-33bf062 .elementor-button:focus svg{fill:#000000;}.elementor-10755 .elementor-element.elementor-element-9f939aa:not(.elementor-motion-effects-element-type-background), .elementor-10755 .elementor-element.elementor-element-9f939aa > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#111111;}.elementor-10755 .elementor-element.elementor-element-9f939aa{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0% 2% 5% 2%;}.elementor-10755 .elementor-element.elementor-element-9f939aa > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10755 .elementor-element.elementor-element-6a1dce9:not(.elementor-motion-effects-element-type-background), .elementor-10755 .elementor-element.elementor-element-6a1dce9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#111111;}.elementor-10755 .elementor-element.elementor-element-6a1dce9 > .elementor-background-overlay{background-image:url("../../2021/04/section-03-image.png");background-position:top left;background-repeat:no-repeat;background-size:40% auto;opacity:1;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10755 .elementor-element.elementor-element-6a1dce9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:5% 10% 5% 10%;}.elementor-10755 .elementor-element.elementor-element-c6bd159{padding:1.563% 0% 1.563% 0%;}.elementor-10755 .elementor-element.elementor-element-d934907{text-align:center;}.elementor-10755 .elementor-element.elementor-element-d934907 .elementor-heading-title{color:#101028;font-family:"Montserrat", Sans-serif;font-size:1.302vw;font-weight:700;text-transform:uppercase;}.elementor-10755 .elementor-element.elementor-element-d1cc545{text-align:center;}.elementor-10755 .elementor-element.elementor-element-d1cc545 img{width:15%;}.elementor-10755 .elementor-element.elementor-element-74b8de6:not(.elementor-motion-effects-element-type-background), .elementor-10755 .elementor-element.elementor-element-74b8de6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #111111 0%, #000000 100%);}.elementor-10755 .elementor-element.elementor-element-74b8de6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:30px 0px 30px 0px;}.elementor-10755 .elementor-element.elementor-element-74b8de6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px){.elementor-10755 .elementor-element.elementor-element-c787d88{width:100%;max-width:100%;}.elementor-10755 .elementor-element.elementor-element-2273e1b .elementor-heading-title{font-size:3vw;}.elementor-10755 .elementor-element.elementor-element-bcfcacd{padding:0px 0px 10px 0px;}.elementor-10755 .elementor-element.elementor-element-33bf062 > .elementor-widget-container{margin:0px 0px 6px -10px;}.elementor-10755 .elementor-element.elementor-element-33bf062 .elementor-button{font-size:1.8vw;}.elementor-10755 .elementor-element.elementor-element-9f939aa{padding:0px 0px 10px 0px;}.elementor-10755 .elementor-element.elementor-element-6a1dce9{padding:30px 20px 30px 20px;}.elementor-10755 .elementor-element.elementor-element-c6bd159{padding:20px 20px 20px 20px;}.elementor-10755 .elementor-element.elementor-element-d934907 > .elementor-widget-container{padding:0% 10% 0% 10%;}.elementor-10755 .elementor-element.elementor-element-d934907 .elementor-heading-title{font-size:2vw;line-height:1.4em;}.elementor-10755 .elementor-element.elementor-element-d1cc545 img{width:20%;}}@media(max-width:767px){.elementor-10755 .elementor-element.elementor-element-3a07696{padding:30px 0px 30px 0px;}.elementor-10755 .elementor-element.elementor-element-2273e1b .elementor-heading-title{font-size:4.5vw;}.elementor-10755 .elementor-element.elementor-element-6a1dce9{padding:20px 10px 20px 10px;}.elementor-10755 .elementor-element.elementor-element-c6bd159{padding:20px 10px 20px 10px;}.elementor-10755 .elementor-element.elementor-element-d934907 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-10755 .elementor-element.elementor-element-d934907 .elementor-heading-title{font-size:5.5vw;}.elementor-10755 .elementor-element.elementor-element-d1cc545 img{width:60%;}}/* Start custom CSS */body, html {
  overflow-x: hidden;
  background-color: #fff;
}

.influex-new-portfolio-grid .swiper-wrapper {
    overflow: unset !important;
}

.all-btn a:hover{
    background-image: url(../../2023/03/filter-btn-active.svg);
    background-size: auto 100%;
    background-repeat: repeat-x;
    color: #000;
}

.influex-homepage-porfolio-vertical-group { 
    display: none !important; 
}

.influex-homepage-porfolio-vertical-group.slick-initialized{ 
    display: block !important;
}

/*.influex-homepage-porfolio-vertical-item.slick-current {*/
/*    transform: scale(1.1);*/
/*    z-index: 99;*/
/*}*/

/*.influex-homepage-porfolio-vertical-item.slick-current:before {*/
/*    background-image: url(/wp-content/uploads/2023/03/polygon-border.png);*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0%;*/
/*    width: 100%;*/
/*    height: 99%;*/
/*}*/

/*.influex-homepage-porfolio-vertical-item:nth-child(3):before {*/
/*    background-image: url(/wp-content/uploads/2023/03/polygon-border.png);*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0%;*/
/*    width: 100%;*/
/*    height: 99%;*/
    
/*}*/

/*.influex-homepage-porfolio-vertical-item:nth-child(3){*/
/*    transform: scale(1.1);*/
/*    z-index: 99;*/
/*}*/

/*.influex-homepage-porfolio-vertical-item:hover:before {*/
/*    background-image: url(/wp-content/uploads/2023/03/polygon-border.png);*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0%;*/
/*    width: 100%;*/
/*    height: 99%;*/
/*}*/

.influex-homepage-porfolio-vertical-group .slick-track {
    padding: 5% 0;
}

/*.influex-homepage-porfolio .influex-homepage-porfolio-vertical-item:not(.slick-current):hover {*/
/*    transform: scale(1);*/
/*}*/

/*.influex-homepage-porfolio-vertical-item:not(.slick-current):hover:before {*/
/*    display: none;*/
/*}*/

.influex-homepage-porfolio .slick-slide {
    margin: 0 10px;
}

.influex-homepage-porfolio .slick-list {
    margin: 0 -10px;
    overflow: visible;
}


.featured-sec {
  display: none;
}

.name-txt {
  font-weight: bold;
  font-style: normal;
}

.br-txt br {
  display: block !important;
}

.br-mob br {
  display: block;
}

.img-wrap img {
  mix-blend-mode: multiply;
}


/* Portfolio */
.portfolio-loadmore .portfolio-item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -1.5%;
}

.portfolio-loadmore .portfolio-item {
  background-color: #fff;
  padding: 3%;
  -webkit-box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.18);
}

.portfolio-loadmore .portfolio-item {
  margin-bottom: 3%;
}

.portfolio-loadmore .portfolio-item-inner .column {
  width: 50%;
  padding: 1.5%;
}

.portfolio-item .portfolio-item-inner .site-info-column .site-info .column-heading img {
  display: block;
}

.portfolio-item .portfolio-item-inner .site-info-column .site-info .column-heading {
  margin-bottom: 3rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.site-image-custom-content img {
  display: block;
  width: 100%;
}

.portfolio-item .portfolio-item-inner .site-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item .portfolio-item-inner .site-image-wrapper .site-image {
  background-position: center 0%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-size: 100% 100% !important;
  -moz-background-size: 100% !important;
  background-size: 100% !important;
  display: block;
  width: 100%;
  min-height: 43.21vw;
  overflow: hidden;
}

.portfolio-item .portfolio-item-inner .site-image-wrapper .site-image img {
  display: none;
  opacity: 0;
  width: 100%;
}

.portfolio-loadmore .portfolio-item:nth-child(even) .portfolio-item-inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.gradient-sep img {
  display: block !important;
}

#alm-filters-portfoliofilter {
    flex: 0 1 auto;
    position: relative;
}

#alm-filters-portfoliofilter .alm-filter--inner {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

#alm-filters-portfoliofilter .alm-filter--inner ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -2.1vw;
}

#alm-filters-portfoliofilter .alm-filter--inner div.alm-filter--link:before,
#alm-filters-portfoliofilter .alm-filter--inner div.alm-filter--link:after {
  display: none;
}

#alm-filters-portfoliofilter .alm-filter--inner div.alm-filter--link {
position: relative;
    z-index: 1;
    appearance: none;
    background: none;
    outline: none;
    border: 0;
    color: #fff;
    font-family: "Montserrat", Sans-serif;
    font-size: 1em;
    padding: 0.5em 1em;
    text-transform: uppercase;
    cursor: pointer;
}

#alm-filters-portfoliofilter .alm-filter--inner li {
  margin: 0 !important;
}

#alm-filters-portfoliofilter .alm-filter--inner li div.alm-filter--link {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
}


#alm-filters-portfoliofilter .alm-filter--inner li:not(:last-child):before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 50%;
    margin: auto;
    background-color: #BD8431;
    z-index: 0;
}

#alm-filters-portfoliofilter .alm-filter--inner li div.alm-filter--link:hover {
    background-image: url(../../2023/03/filter-btn-active.svg);
    background-size: auto 100%;
    background-repeat: repeat-x;
    color: #000;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-0 div.alm-filter--link {
  background-position: -8.59vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-1 div.alm-filter--link {
  background-position: -14.32vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-2 div.alm-filter--link {
  background-position: -23.96vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-3 div.alm-filter--link {
  background-position: -34.64vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-4 div.alm-filter--link {
  background-position: -43.49vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-5 div.alm-filter--link {
  background-position: -52.6vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-6 div.alm-filter--link {
  background-position: -63.02vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-7 div.alm-filter--link {
  background-position: -71.61vw;
}

#alm-filters-portfoliofilter .alm-filter--inner li.field-8 div.alm-filter--link {
  background-position: -81.25vw;
}

.site-info .site-title {
  display: block;
  text-align: center;
  font-size: 1.563vw;
  text-transform: uppercase;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  line-height: 1;
}

/*.blue {*/
/*    color: #0085F7;*/
/*}*/
/*.pink {*/
/*    color: #FC0266;*/
/*}*/
/*.green {*/
/*    color: #00C33A;*/
/*}*/
/*.purple {*/
/*    color: #AB26A0;*/
/*}*/
/*.yellow {*/
/*    color: #ffff00;*/
/*}*/
.portfolio-loadmore .portfolio-item:nth-child(even) .portfolio-item-inner .site-title span:last-child,
.portfolio-loadmore .portfolio-item:nth-child(odd) .portfolio-item-inner .site-title span:first-child {
  color: #101028;
}

.site-info .site-title span {
  line-height: inherit;
  display: inline-block;
}

.videoWrapper,
.column-heading img {
  margin-top: 3%;
}

.column-heading img {
  width: 100%;
}

.column-content {
  font-size: 1.04vw;
  line-height: 1.6em;
  font-family: "Montserrat", Sans-serif;
}

.column-content .blockqoute-icon {
  border-left: solid 3px #101028;
  padding-left: 15px;
  margin-bottom: 20px;
  font-style: italic;
}

.btn-view-site {
  display: block;
  max-width: 300px;
  margin: 15% auto 0;
  text-align: center;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  padding: 20px 10px;
  font-size: 0.833vw;
  font-weight: 700;
  font-family: "Montserrat", Sans-serif;
    min-height: 2.5vw;
    background-image: url(../../2023/04/load-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btn-view-site:hover {
  /*color: #FC6436;*/
  /*background-color: #fff;*/
  background-image: url(../../2023/04/hex-border.png);
}

.portfolio-loadmore .alm-btn-wrap {
  margin-top: 5%;
  text-align: center;
}

.portfolio-loadmore .alm-btn-wrap button,
.portfolio-loadmore .alm-btn-wrap a {
  font-family: "Montserrat", Sans-serif;
  font-size: 0.833vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  border-radius: 0;
    height: 4vw;
    max-width: 500px;
    padding: 2% 8%;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  line-height: 1;
  transition: all 0.3s ease;
  background-image: url(../../2023/04/hex-border.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;

}

.portfolio-loadmore .alm-btn-wrap button:hover,
.portfolio-loadmore .alm-btn-wrap a:hover {
  /*background-color: #fff;*/
  color: #000;
  background-image: url(../../2023/04/load-hover.png);
}

.portfolio-loadmore .alm-btn-wrap button:disabled {
  opacity: 0.25;
}

/* Potfolio Grid */
.influex-new-portfolio .influex-new-portfolio-square-item .item-bg {
    object-fit: cover;
    object-position: top center;
}
.influex-new-portfolio .influex-new-portfolio-square-item {
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.no-img-square:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: 110%;
    background-image: url(../../2023/04/hex-overlay.png);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.no-img-square:hover:before {
    z-index: 1;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  /*.element-tabs {*/
  /*  padding: 240px 20px 30px 20px !important;*/
  /*}*/

  #alm-filter-1 {
    margin-top: -3.4vw !important;
  }
}

@media only screen and (max-width: 1024px) {
  #dan-lok:before {
    width: 89.344vw;
    height: 69.313vw;
    left: -10vw;
  }

  #hussey-matthew:before {
    width: 155vw;
    height: 80vw;
    left: -35vw;
  }

  #roland-fraiser:before {
    width: 65.396vw;
    height: 65.563vw;
    bottom: 0;
    left: -3vw;
  }

  #shunnurah:before {
    width: 61.104vw;
    height: 55.896vw;
    left: -6vw;
  }

  #lewis-howes:before {
    width: 80.313vw;
    height: 70.042vw;
    left: -9vw;
  }

  #shaun-t:before {
    width: 76.042vw;
    height: 75.417vw;
    bottom: -12vw;
    left: -17vw;
  }

  #jennifer-hudye:before {
    width: 99.167vw;
    height: 77.240vw;
    bottom: 0;
    left: -15vw;
  }

  /*Portfolio*/
  #alm-filters-portfoliofilter .alm-filter--inner div.alm-filter--link {
    font-size: 1.8vw;
  }

  #alm-filter-1 {
    margin-top: -3.2vw;
  }

  .site-info .site-title {
    font-size: 4vw;
  }

  .column-content {
    font-size: 1.8vw;
  }

  .btn-view-site {
    padding: 15px;
    font-size: 1.8vw;
  }

  .portfolio-loadmore .alm-btn-wrap button, .portfolio-loadmore .alm-btn-wrap a {
    font-size: 1.8vw;
    background-size: 100% 100%;
    height: unset;
  }
  
          .influex-homepage-porfolio-vertical-group .slick-track {
    padding: 10% 0;
}
    .influex-homepage-porfolio  .influex-homepage-porfolio-vertical-item .item-content {
		max-height: 32vw;
    	font-size: 1.5vw;
	}
	#alm-filters-portfoliofilter .alm-filter--inner {
    margin-bottom: 0px;
    padding-bottom: 0;
}
}

@media only screen and (max-width: 1024px){
    
.influex-homepage-porfolio-vertical-item.slick-current {
    transform: scale(1.1);
    z-index: 99;
}

.influex-homepage-porfolio-vertical-item.slick-current:before {
    background-image: url(../../2023/03/polygon-border.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    position: absolute;
    top: 0%;
    width: 100%;
    height: 99%;
}

.influex-homepage-porfolio .influex-homepage-porfolio-vertical-item:not(.slick-current):hover {
    transform: scale(1);
}

.influex-homepage-porfolio-vertical-item:not(.slick-current):hover:before {
    display: none;
}

}

@media only screen and (max-width: 767px) {
  #dan-lok:before {
    width: 200vw;
    height: 190.313vw;
    left: -35vw;
  }

  #hussey-matthew:before {
    width: 400vw;
    height: 230vw;
    left: -130vw;
  }

  #roland-fraiser:before {
    width: 136.396vw;
    height: 146.563vw;
    bottom: 0;
    left: -15vw;
  }

  #shunnurah:before {
    width: 127.104vw;
    height: 115.896vw;
    left: -15vw;
  }

  #lewis-howes:before {
    width: 210.313vw;
    height: 190.042vw;
    left: -35vw;
  }

  #shaun-t:before {
    width: 136.042vw;
    height: 135.417vw;
    bottom: -15vw;
    left: -29vw;
  }

  #jennifer-hudye:before {
    width: 230.167vw;
    height: 170.240vw;
    left: -40vw;
  }

  /*Portfolio*/
  #alm-filters-portfoliofilter .alm-filter--inner div.alm-filter--link {
    font-size: 4vw;
  }

  #alm-filter-1 {
    margin-top: 0;
  }

  .site-info .site-title {
    font-size: 6.5vw;
  }

  .column-content {
    font-size: 4.5vw;
  }

  .btn-view-site {
    padding: 15px;
    font-size: 4.5vw;
  }

  .portfolio-loadmore .alm-btn-wrap button, .portfolio-loadmore .alm-btn-wrap a {
    font-size: 4.5vw;
    width: 100%;
  }

  .portfolio-loadmore .portfolio-item-inner .column {
    width: 100%;
    padding: 2%;
  }

  /*.portfolio-loadmore .portfolio-item:not(:last-child) {*/
  /*    margin: 5% 0;*/
  /*}*/
  .portfolio-loadmore .portfolio-item {
    margin-bottom: 10% !important;
  }

  .portfolio-loadmore .column.site-info-column {
    padding: 10% 2% !important;
  }

  .portfolio-item .portfolio-item-inner .site-image-wrapper .site-image {
    height: 60rem !important;
  }



  .br-mob br {
    display: none;
  }

  #alm-filters-portfoliofilter .alm-filter--inner li div.alm-filter--link.active {

    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 30% 10%;
  }
  
  .btn-primary img {
  border: 2px solid #D6D6D6;
}

	.influex-homepage-porfolio .influex-homepage-porfolio-vertical-item .item-title {
	    font-size: 4vw;
	}
	
	#alm-filters-portfoliofilter .alm-filter--inner{
	    margin: 0;
	    padding: 0;
	}
	
	.portfolio-loadmore .alm-btn-wrap button, .portfolio-loadmore .alm-btn-wrap a {
    height: 15vw;
    background-size: 70%;
}

}


@media (max-width: 480px) {
    .influex-homepage-porfolio  .influex-homepage-porfolio-vertical-item .item-content {
        font-size: 4vw;
    }
    .influex-homepage-porfolio .influex-homepage-porfolio-vertical-item a {
        min-height: 8vw;
    }
}/* End custom CSS */