.elementor-9500 .elementor-element.elementor-element-4ded71d:not(.elementor-motion-effects-element-type-background), .elementor-9500 .elementor-element.elementor-element-4ded71d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-9500 .elementor-element.elementor-element-4ded71d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:10% 0% 2% 0%;}.elementor-9500 .elementor-element.elementor-element-4ded71d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9500 .elementor-element.elementor-element-e1506c9.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-9500 .elementor-element.elementor-element-42cdb05{text-align:center;}.elementor-9500 .elementor-element.elementor-element-42cdb05 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:2.865vw;font-weight:300;text-transform:uppercase;}.elementor-9500 .elementor-element.elementor-element-d5b9cd7 > .elementor-widget-container{margin:0.3% 0% 0.3% 0%;}.elementor-9500 .elementor-element.elementor-element-d5b9cd7{text-align:center;}.elementor-9500 .elementor-element.elementor-element-d5b9cd7 img{width:57vw;}.elementor-9500 .elementor-element.elementor-element-d0c0d61 > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-9500 .elementor-element.elementor-element-d0c0d61{text-align:center;}.elementor-9500 .elementor-element.elementor-element-d0c0d61 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:2.708vw;font-weight:300;text-transform:uppercase;}.elementor-9500 .elementor-element.elementor-element-7d74b0b{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:4.8px;}.elementor-9500 .elementor-element.elementor-element-7d74b0b > .elementor-widget-container{margin:0% 0% 5% 0%;}.elementor-9500 .elementor-element.elementor-element-7d74b0b .elementor-divider-separator{width:43%;margin:0 auto;margin-center:0;}.elementor-9500 .elementor-element.elementor-element-7d74b0b .elementor-divider{text-align:center;padding-block-start:15px;padding-block-end:15px;}.elementor-9500 .elementor-element.elementor-element-6ab0b1d > .elementor-widget-container{margin:0% 0% 10.5% 0%;}.elementor-9500 .elementor-element.elementor-element-df55da1{text-align:center;}.elementor-9500 .elementor-element.elementor-element-df55da1 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:1.042vw;font-weight:600;text-transform:uppercase;}.elementor-9500 .elementor-element.elementor-element-5e2825c .uael-img-gallery-wrap .uael-grid-item{padding-right:calc( 20px/2 );padding-left:calc( 20px/2 );align-items:center;display:inline-grid;}.elementor-9500 .elementor-element.elementor-element-5e2825c .uael-img-gallery-wrap{margin-left:calc( -20px/2 );margin-right:calc( -20px/2 );}.elementor-9500 .elementor-element.elementor-element-5e2825c .uael-img-gallery-wrap .uael-grid-item-content{margin-bottom:20px;}.elementor-9500 .elementor-element.elementor-element-5e2825c .uael-grid-img-thumbnail img{opacity:1;}.elementor-9500 .elementor-element.elementor-element-5e2825c .uael-grid-gallery-img:hover .uael-grid-img-thumbnail img{opacity:1;}.elementor-9500 .elementor-element.elementor-element-5167f45:not(.elementor-motion-effects-element-type-background), .elementor-9500 .elementor-element.elementor-element-5167f45 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-9500 .elementor-element.elementor-element-5167f45{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:5% 0% 9% 0%;}.elementor-9500 .elementor-element.elementor-element-5167f45 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9500 .elementor-element.elementor-element-907cf6d{z-index:10;}.elementor-9500 .elementor-element.elementor-element-a772842 > .elementor-widget-container{margin:0% 0% 1.5% 0%;}.elementor-9500 .elementor-element.elementor-element-a772842 img{width:6vw;}.elementor-9500 .elementor-element.elementor-element-563475c > .elementor-widget-container{margin:0% 0% 6% 0%;}.elementor-9500 .elementor-element.elementor-element-563475c{z-index:10;text-align:center;}.elementor-9500 .elementor-element.elementor-element-563475c .elementor-heading-title{color:#051C4E;font-family:"Montserrat", Sans-serif;font-size:2.188vw;font-weight:300;}.elementor-9500 .elementor-element.elementor-element-f80271a{z-index:10;}.elementor-9500 .elementor-element.elementor-element-a171d7b:not(.elementor-motion-effects-element-type-background), .elementor-9500 .elementor-element.elementor-element-a171d7b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-9500 .elementor-element.elementor-element-a171d7b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-27%;margin-bottom:0%;padding:26.5% 0% 13% 0%;z-index:1;}.elementor-9500 .elementor-element.elementor-element-a171d7b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-9500 .elementor-element.elementor-element-3d81056 img{width:23vw;}.elementor-9500 .elementor-element.elementor-element-4c5a2b2{text-align:center;}.elementor-9500 .elementor-element.elementor-element-4c5a2b2 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:10.156vw;font-weight:bold;}@media(max-width:1024px){.elementor-9500 .elementor-element.elementor-element-4ded71d{padding:15% 3% 3% 3%;}.elementor-9500 .elementor-element.elementor-element-42cdb05 .elementor-heading-title{font-size:3.2vw;}.elementor-9500 .elementor-element.elementor-element-d5b9cd7 img{width:65vw;}.elementor-9500 .elementor-element.elementor-element-d0c0d61 .elementor-heading-title{font-size:3.2vw;}.elementor-9500 .elementor-element.elementor-element-df55da1 .elementor-heading-title{font-size:1.5vw;}.elementor-9500 .elementor-element.elementor-element-5167f45{padding:30px 20px 50px 20px;}.elementor-9500 .elementor-element.elementor-element-a772842 img{width:7vw;}.elementor-9500 .elementor-element.elementor-element-563475c .elementor-heading-title{font-size:2.5vw;}.elementor-9500 .elementor-element.elementor-element-a171d7b{margin-top:-45%;margin-bottom:0%;padding:50% 3% 10% 3%;}}@media(max-width:767px){.elementor-9500 .elementor-element.elementor-element-4ded71d{padding:25% 3% 3% 3%;}.elementor-9500 .elementor-element.elementor-element-42cdb05 .elementor-heading-title{font-size:4.5vw;}.elementor-9500 .elementor-element.elementor-element-d5b9cd7 img{width:80vw;}.elementor-9500 .elementor-element.elementor-element-d0c0d61 .elementor-heading-title{font-size:4.5vw;}.elementor-9500 .elementor-element.elementor-element-df55da1 > .elementor-widget-container{margin:10% 0% 0% 0%;}.elementor-9500 .elementor-element.elementor-element-df55da1 .elementor-heading-title{font-size:4.5vw;line-height:1.3em;}.elementor-9500 .elementor-element.elementor-element-5167f45{padding:010px 10px 30px 10px;}.elementor-9500 .elementor-element.elementor-element-a772842 img{width:15vw;}.elementor-9500 .elementor-element.elementor-element-563475c > .elementor-widget-container{margin:0% 0% 0% 0%;}.elementor-9500 .elementor-element.elementor-element-563475c .elementor-heading-title{font-size:6vw;line-height:1.2em;}.elementor-9500 .elementor-element.elementor-element-a171d7b:not(.elementor-motion-effects-element-type-background), .elementor-9500 .elementor-element.elementor-element-a171d7b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2022/09/media-bg-mob-1.png");}.elementor-9500 .elementor-element.elementor-element-a171d7b{padding:50% 3% 25% 3%;}.elementor-9500 .elementor-element.elementor-element-32566cc > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-9500 .elementor-element.elementor-element-3d81056 img{width:40vw;}.elementor-9500 .elementor-element.elementor-element-4c5a2b2 .elementor-heading-title{font-size:11vw;}}/* Start custom CSS */body, html {
  overflow-x: hidden;
  background-color: #fff;
}


.gold-gradient h2 {
    background: linear-gradient(180deg, #BC8431 -64.65%, #ECC777 -49.61%, #FEF7DF -40.89%, #ECC777 -21.74%, #BC8431 -16.81%, #ECC777 -11.16%, #FEF7DF 7.25%, #ECC777 23.05%, #BC8431 28.76%, #ECC777 34.57%, #FEF7DF 53.11%, #ECC777 64.72%, #BC8431 79.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gold-gradient-text-2 {
    background: linear-gradient(178.25deg, #FFF2C6 1.49%, #BD8332 155.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.gold-divider .elementor-divider-separator{
    
    border-image:linear-gradient(90deg, #BC8431 -64.65%, #ECC777 -49.61%, #FEF7DF -40.89%, #ECC777 -21.74%, #BC8431 -16.81%, #ECC777 -11.16%, #FEF7DF 7.25%, #ECC777 23.05%, #BC8431 28.76%, #ECC777 34.57%, #FEF7DF 53.11%, #ECC777 64.72%, #BC8431 79.76%) 1;
}


.change-color img, .image-logos img{
    
   filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(0%) hue-rotate(51deg) brightness(103%) contrast(104%);
}

.video-item{
    position: relative;
    width: 100%;
    margin: 8px;
}

.influex-popup-video>a.has-icon {
    display: block;
    width: 6.354vw;
    height: 6.354vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
}

.featured-img img {
    object-fit: cover;
     height: 17vw; 
    /*padding: 8px;*/
}

.video-post .slick-dots li button:before {
  border: 2px solid #fff;
  border-radius: 100px;
  opacity: 1 !important;
  color: transparent;
}

.video-post .slick-dots li.slick-active button:before {
  background-color: #fff;
  color: #fff;
  border-color: #fff;
}

.video-post .slick-dotted.slick-slider {
  margin: 30px 0 0 !important;
}

.video-post .slick-dots {
  bottom: -22% !important;
  z-index: 9;
}

.video-post .slick-dots li {
  margin: 0 .3vw;
}



/*podcast*/
[data-id="unlocking-expressions"] .alm-reveal {
  display: flex;
  flex-wrap: wrap;
}

[data-id="unlocking-expressions"] .alm-reveal .unlocking-expressions {
  flex: 1 1 25%;
  max-width: 25%;
  padding: 5px;
}

.ue-item {
  background-size: cover;
  height: 25vw;
  filter: saturate(0);
  background-position: center;
}

.ue-item:hover {
  filter: saturate(1);
}

.unlocking-expressions:hover {
  /*transform: scale(1.2);*/
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  z-index: 10;
}

.unlocking-expressions .ue-item:before {
  content: "";
  position: absolute;
  background-image: url('../../2022/09/media-overlay-sec.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 45%;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
}

.unlocking-expressions {
  display: block;
  position: relative;
}

.ue-content {
  position: absolute;
  bottom: 1vw;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 10;
}

.unlocking-expressions-wrap .slick-list {
    overflow: visible;
}
.unlocking-expressions-wrap .slick-list .unlocking-expressions {
    padding: 5px;
}
.name {
    font-size: 1.2vw;
    color: #fff;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500 !important;
    line-height: 1.1em;
    margin: 0 0 5px;
    padding: 0 4%;
}
.name-episode {
    /*font-size: 1.354vw;*/
    font-size: 1vw;
    color: #fff;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    line-height: 1.1em;
    /*padding: 0 5%;*/
    padding: 0 4%;
    text-transform: uppercase;
    margin: 0;
}

.alm-btn-wrap {
  text-align: center;
  margin-top: 4%;
}

.alm-load-more-btn.more {
  background: linear-gradient(272.65deg, #F8CD00 -1.45%, #F49038 64.75%, #EA3325 115.9%, #FC7E9F 151.26%);
  width: 15%;
  height: 55px;
  color: #fff;
  font-size: 0.938vw;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  border-radius: 38px;
  border: 0;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.alm-load-more-btn.more:hover {
  transform: scale(1.1);
}

.done{
    opacity: 0;
    cursor: default !important;
}
.unlocking-expressions-wrap .slick-dots li button:before {
  border: 2px solid #fff;
  border-radius: 100px;
  opacity: 1 !important;
  color: transparent;
}
.unlocking-expressions-wrap .slick-dots li.slick-active button:before {
  background-color: #fff;
  color: #fff;
  border-color: #fff;
}
.unlocking-expressions-wrap .slick-dotted.slick-slider {
  margin: 30px 0 0 !important;
}
.unlocking-expressions-wrap .slick-dots {
  z-index: 9;
  position: relative;
}
.unlocking-expressions-wrap .slick-dots li {
  margin: 0 .3vw;
}
.unlocking-expressions-wrap .slick-list  .ue-content {
    height: 100%;
    bottom: 0;
    top: 0;
}

.unlocking-expressions-wrap .slick-list .ue-content a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 1vw;
}
/*=====end=====*/

.article-post .slick-dots li button:before {
  border: 2px solid #ffffff;
  border-radius: 100px;
  opacity: 1 !important;
  color: transparent;
}

.article-post .slick-dots li.slick-active button:before {
  background-color: #fff;
  color: #fff !important;
}

.article-post .slick-dotted.slick-slider {
  margin: 30px 0 0 !important;
}

.article-post .slick-dots {
  bottom: -15% !important;
  z-index: 9;
  display: none;
}

.article-post .slick-dots li {
  margin: 0 .3vw;
}

.article-item{
    position: relative;
    margin: 8px;
}

.article-item .article-bg{
    width: 100%;
    background-size: cover;
    height: 25vw;
    max-width: 100% !important;
    display: block;
    background-position: center;
}

.article-item:before {
  content: "";
  position: absolute;
  background-image: url('../../2022/09/media-overlay-sec.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100.5%;
  height: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 1;
}

.article-logo {
    position: absolute;
    bottom: 2vw;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: auto !important;
    padding: 0 15%;
}

@media only screen and (min-width: 768px) {
  .image-logos .uael-img-gallery-wrap {
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
  }
  
  .image-logos .uael-grid-item {
  width: auto !important;
  padding: 0 2% !important
}

}

@media only screen and (max-width: 1024px){
    .alm-load-more-btn.more {
    width: 25%;
    font-size: 1.5vw;
}

.article-item .article-bg {
    height: 35vw;
}

.unlocking-expressions .ue-item:before {
    height: 100%;
}
.ue-item {
    height: 35vw;
}
.name {
    font-size: 2vw;
}
.name-episode {
    font-size: 1.5vw;
}
.unlocking-expressions-wrap .slick-list .ue-content a {
    padding-bottom: 2vw;
}
}

@media only screen and (max-width: 767px){
    .featured-img img {
    height: 50vw;
    }
    
    .influex-popup-video>a.has-icon {
    width: 20.354vw;
    height: 20.354vw;
}

.video-post .slick-dotted.slick-slider {
    margin: 0 !important;
}

.slick-dots li button:before {
    width: 15px !important;
    height: 15px !important;
}

  .image-logos  .uael-img-gallery-wrap {
    justify-content: center;
}

[data-id="unlocking-expressions"] .alm-reveal .unlocking-expressions {
    flex: 1 1 50%;
    max-width: 50%;
}

.ue-item {
    /*height: 50vw;*/
    height: 90vw;
}

.alm-load-more-btn.more {
    width: 80%;
    font-size: 4.5vw;
}

.name {
    font-size: 3.5vw;
    line-height: 1.2em;
}

.name-episode {
    font-size: 3vw;

}

.ue-content {
    bottom: 2vw;
}

.article-item .article-bg {
    height: 100vw;
}
}/* End custom CSS */