.elementor-289 .elementor-element.elementor-element-cd3ac2b > .elementor-background-overlay{background-color:#000000;opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-289 .elementor-element.elementor-element-cd3ac2b:not(.elementor-motion-effects-element-type-background), .elementor-289 .elementor-element.elementor-element-cd3ac2b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-289 .elementor-element.elementor-element-cd3ac2b{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:12% 8% 8% 8%;}.elementor-289 .elementor-element.elementor-element-47e8c2c.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-289 .elementor-element.elementor-element-1c3d314{text-align:center;}.elementor-289 .elementor-element.elementor-element-1c3d314 .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:3.75vw;font-weight:700;line-height:1.2em;}.elementor-289 .elementor-element.elementor-element-c4e0e0a{width:auto;max-width:auto;}.elementor-289 .elementor-element.elementor-element-c4e0e0a .elementor-author-box__avatar img{width:75px;height:75px;border-radius:100px;}body.rtl .elementor-289 .elementor-element.elementor-element-c4e0e0a.elementor-author-box--layout-image-left .elementor-author-box__avatar,
					 body:not(.rtl) .elementor-289 .elementor-element.elementor-element-c4e0e0a:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-right:20px;margin-left:0;}body:not(.rtl) .elementor-289 .elementor-element.elementor-element-c4e0e0a.elementor-author-box--layout-image-right .elementor-author-box__avatar,
					 body.rtl .elementor-289 .elementor-element.elementor-element-c4e0e0a:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-left:20px;margin-right:0;}.elementor-289 .elementor-element.elementor-element-c4e0e0a.elementor-author-box--layout-image-above .elementor-author-box__avatar{margin-bottom:20px;}.elementor-289 .elementor-element.elementor-element-c4e0e0a .elementor-author-box__name{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:1.25vw;font-weight:500;margin-bottom:0px;}.elementor-289 .elementor-element.elementor-element-1da9756:not(.elementor-motion-effects-element-type-background), .elementor-289 .elementor-element.elementor-element-1da9756 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-289 .elementor-element.elementor-element-1da9756{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:4% 8% 0% 8%;}.elementor-289 .elementor-element.elementor-element-1da9756 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-289 .elementor-element.elementor-element-c17b0bd > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-289 .elementor-element.elementor-element-c17b0bd > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-289 .elementor-element.elementor-element-c177c1d .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-289 .elementor-element.elementor-element-424c1be:not(.elementor-motion-effects-element-type-background), .elementor-289 .elementor-element.elementor-element-424c1be > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;background-image:url("../../2021/04/gold-border-bottom.png");background-position:bottom center;background-repeat:no-repeat;background-size:100% auto;}.elementor-289 .elementor-element.elementor-element-424c1be{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:4% 11% 4% 11%;}.elementor-289 .elementor-element.elementor-element-424c1be > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-289 .elementor-element.elementor-element-72e9cf2{margin-top:0%;margin-bottom:5%;}.elementor-bc-flex-widget .elementor-289 .elementor-element.elementor-element-795d9c4.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-289 .elementor-element.elementor-element-795d9c4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-289 .elementor-element.elementor-element-795d9c4.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-289 .elementor-element.elementor-element-795d9c4 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-289 .elementor-element.elementor-element-5076369{text-align:left;}.elementor-289 .elementor-element.elementor-element-5076369 img{width:70px;height:70px;border-style:solid;border-width:4px 4px 4px 4px;border-color:#B9893D;border-radius:100% 100% 100% 100%;}.elementor-bc-flex-widget .elementor-289 .elementor-element.elementor-element-66a1ccd.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-289 .elementor-element.elementor-element-66a1ccd.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-289 .elementor-element.elementor-element-66a1ccd.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-289 .elementor-element.elementor-element-66a1ccd > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:5px;}.elementor-289 .elementor-element.elementor-element-66a1ccd > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-289 .elementor-element.elementor-element-66a1ccd > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-289 .elementor-element.elementor-element-840e507 .elementor-heading-title{font-family:"Montserrat", Sans-serif;font-size:1.302vw;font-weight:500;}.elementor-289 .elementor-element.elementor-element-d89e0b3 .elementor-heading-title{font-family:"Montserrat", Sans-serif;font-size:1.146vw;font-weight:500;}.elementor-bc-flex-widget .elementor-289 .elementor-element.elementor-element-fc94cf1.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-289 .elementor-element.elementor-element-fc94cf1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-289 .elementor-element.elementor-element-fc94cf1.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-289 .elementor-element.elementor-element-fc94cf1 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-289 .elementor-element.elementor-element-d521330 .elementor-button{background-color:#02010100;font-family:"Montserrat", Sans-serif;font-size:1.042vw;font-weight:bold;text-transform:uppercase;line-height:3em;letter-spacing:2px;fill:#EC5E48;color:#EC5E48;border-style:solid;border-width:4px 4px 4px 4px;border-color:#EC5E48;border-radius:50px 50px 50px 50px;padding:0% 10% 0% 10%;}.elementor-289 .elementor-element.elementor-element-d521330 .elementor-button:hover, .elementor-289 .elementor-element.elementor-element-d521330 .elementor-button:focus{background-color:#EC5E48;color:#FFFFFF;}.elementor-289 .elementor-element.elementor-element-d521330 .elementor-button:hover svg, .elementor-289 .elementor-element.elementor-element-d521330 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-289 .elementor-element.elementor-element-960fd1c{text-align:center;}.elementor-289 .elementor-element.elementor-element-960fd1c .elementor-heading-title{font-family:"Montserrat", Sans-serif;font-size:1.563vw;line-height:1.2em;}.elementor-289 .elementor-element.elementor-element-d1b92f7{text-align:left;font-family:"Montserrat", Sans-serif;font-size:1.146vw;font-weight:500;}.elementor-289 .elementor-element.elementor-element-14264c3:not(.elementor-motion-effects-element-type-background), .elementor-289 .elementor-element.elementor-element-14264c3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-289 .elementor-element.elementor-element-14264c3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:3% 0% 0% 0%;}.elementor-289 .elementor-element.elementor-element-14264c3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-289 .elementor-element.elementor-element-a6e8f24 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-289 .elementor-element.elementor-element-45892cb{--divider-border-style:solid;--divider-color:#707070;--divider-border-width:1px;--divider-element-spacing:30px;}.elementor-289 .elementor-element.elementor-element-45892cb > .elementor-widget-container{padding:0% 0% 2% 0%;}.elementor-289 .elementor-element.elementor-element-45892cb .elementor-divider-separator{width:70%;margin:0 auto;margin-center:0;}.elementor-289 .elementor-element.elementor-element-45892cb .elementor-divider{text-align:center;padding-block-start:2px;padding-block-end:2px;}.elementor-289 .elementor-element.elementor-element-45892cb .elementor-divider__text{color:#CC9B4B;font-family:"Montserrat", Sans-serif;font-size:1.563vw;font-weight:bold;}.elementor-289 .elementor-element.elementor-element-0b2bb58 > .elementor-widget-container{padding:0% 15% 0% 15%;}@media(max-width:1024px){.elementor-289 .elementor-element.elementor-element-cd3ac2b{padding:15% 5% 7% 5%;}.elementor-289 .elementor-element.elementor-element-1c3d314 .elementor-heading-title{font-size:4vw;}.elementor-289 .elementor-element.elementor-element-c4e0e0a .elementor-author-box__avatar img{width:50px;height:50px;}.elementor-289 .elementor-element.elementor-element-c4e0e0a .elementor-author-box__name{font-size:2.3vw;}.elementor-289 .elementor-element.elementor-element-1da9756{padding:5% 5% 0% 5%;}.elementor-289 .elementor-element.elementor-element-424c1be{padding:30px 20px 30px 20px;}.elementor-289 .elementor-element.elementor-element-5076369 img{width:50px;height:50px;}.elementor-289 .elementor-element.elementor-element-840e507 .elementor-heading-title{font-size:2vw;}.elementor-289 .elementor-element.elementor-element-d89e0b3 .elementor-heading-title{font-size:2vw;}.elementor-289 .elementor-element.elementor-element-d521330 .elementor-button{font-size:2vw;}.elementor-289 .elementor-element.elementor-element-960fd1c .elementor-heading-title{font-size:2.5vw;}.elementor-289 .elementor-element.elementor-element-d1b92f7 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-289 .elementor-element.elementor-element-d1b92f7{font-size:2vw;}.elementor-289 .elementor-element.elementor-element-45892cb .elementor-divider__text{font-size:2vw;}.elementor-289 .elementor-element.elementor-element-0b2bb58 > .elementor-widget-container{padding:0px 30px 0px 30px;}}@media(max-width:767px){.elementor-289 .elementor-element.elementor-element-cd3ac2b{padding:10% 3% 7% 3%;}.elementor-289 .elementor-element.elementor-element-1c3d314 .elementor-heading-title{font-size:6vw;line-height:1.4em;}.elementor-289 .elementor-element.elementor-element-c4e0e0a .elementor-author-box__name{font-size:4vw;}.elementor-289 .elementor-element.elementor-element-1da9756{padding:5% 3% 0% 3%;}.elementor-289 .elementor-element.elementor-element-c177c1d .elementor-custom-embed-play i{font-size:80px;}.elementor-289 .elementor-element.elementor-element-c177c1d .elementor-custom-embed-play svg{width:80px;height:80px;}.elementor-289 .elementor-element.elementor-element-424c1be{padding:20px 10px 0px 10px;}.elementor-289 .elementor-element.elementor-element-795d9c4{width:100%;}.elementor-289 .elementor-element.elementor-element-5076369{text-align:center;}.elementor-289 .elementor-element.elementor-element-5076369 img{width:80px;height:80px;}.elementor-289 .elementor-element.elementor-element-66a1ccd{width:100%;}.elementor-289 .elementor-element.elementor-element-66a1ccd > .elementor-element-populated{margin:10px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-289 .elementor-element.elementor-element-840e507{text-align:center;}.elementor-289 .elementor-element.elementor-element-840e507 .elementor-heading-title{font-size:16px;}.elementor-289 .elementor-element.elementor-element-d89e0b3{text-align:center;}.elementor-289 .elementor-element.elementor-element-d89e0b3 .elementor-heading-title{font-size:16px;}.elementor-289 .elementor-element.elementor-element-fc94cf1 > .elementor-element-populated{margin:10px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-289 .elementor-element.elementor-element-d521330 .elementor-button{font-size:16px;}.elementor-289 .elementor-element.elementor-element-960fd1c .elementor-heading-title{font-size:6vw;line-height:1.4em;}.elementor-289 .elementor-element.elementor-element-d1b92f7{font-size:16px;}.elementor-289 .elementor-element.elementor-element-14264c3{padding:10% 0% 0% 0%;}.elementor-289 .elementor-element.elementor-element-45892cb .elementor-divider-separator{width:90%;}.elementor-289 .elementor-element.elementor-element-45892cb .elementor-divider__text{font-size:20px;}.elementor-289 .elementor-element.elementor-element-45892cb{--divider-element-spacing:10px;}.elementor-289 .elementor-element.elementor-element-0b2bb58 > .elementor-widget-container{padding:0px 20px 0px 20px;}}@media(min-width:768px){.elementor-289 .elementor-element.elementor-element-795d9c4{width:9%;}.elementor-289 .elementor-element.elementor-element-66a1ccd{width:41%;}.elementor-289 .elementor-element.elementor-element-fc94cf1{width:49.666%;}}@media(max-width:1024px) and (min-width:768px){.elementor-289 .elementor-element.elementor-element-795d9c4{width:10%;}.elementor-289 .elementor-element.elementor-element-66a1ccd{width:40%;}}/* Start custom CSS */.banner-section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.author .elementor-author-box__name {
  margin: 0;
}

.featured-sec {
  padding: 2% 0 !important;
}

.single-video .elementor-custom-embed-image-overlay {
  border-bottom: 0.78vw solid;
  border-image: linear-gradient(to right, #0085F7, #00C33A, #FFFF00, #FF513D, #FC0266, #AB26A0) 100% 1;
}

/*Post box*/
.post-box .post-title {
  padding: 0;
}

.post-box {
  display: table-cell;
  padding: 2% 5% !important;
  height: 19.271vw !important;
  min-height: auto;
}

.post-box .post-title a .title {
  font-size: 1.25vw;
}

.post-box .post-title a {
  line-height: 1em;
  outline: none;
}


.post-box .post-btn a {
  position: relative;
  display: inline-block;
  font-size: 0.833vw;
  border: none !important;
  padding: 20px 10px;
  max-width: 200px;
  width: 100%;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  text-align: center;
   background-image: url(../../2023/04/load-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  z-index: 10 !important;
  color:#000 ;
}

.post-box .post-btn a:hover {
  background-image: url(../../2023/04/hex-border.png);
  color:#fff;
}




.post-box .post-btn {
  padding-top: 30px;
}

.post-content p {
  line-height: 2em !important;
}

/*.post-content{*/
/*    padding: 0 20%;*/
/*}*/
.post-content p b {
  text-align: center !important;
}

.post-content .wp-container-4>* {
  width: 100%;
}

.single-video .eicon-play:before {
  content: '';
  background-image: url(../../2021/05/blog-image-08.png);
  width: 6.513vw;
  height: 6.513vw;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-content blockquote p {
  color: #AB26A0;
  font-size: 2.083vw;
  text-align: center;
}

.single-content .wp-block-media-text__content>blockquote>p {
  text-align: left;
  font-style: normal;
  font-weight: 600;
  border-bottom: 1px solid rgba(157, 50, 155, .28);
  padding: 0 0 2vw 0;
  margin: 3vw 0 0 0;
}

.single-content .wp-block-media-text__content {
  padding: 0 !important;
  position: relative;
}

.single-content .wp-block-media-text__content>blockquote>p {
  position: relative;
}

.single-content .wp-block-quote.is-style-large {
  margin-bottom: 1em;
  padding: 0;
  margin: 0 5vw 0 0;
}

.single-content .wp-block-media-text__content>blockquote>p:before {
  content: '';
  background-image: url(../../2021/05/blog-image-09.png);
  width: 27.604vw;
  height: 100%;
  position: absolute;
  top: -5vw;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.single-content .wp-block-media-text {
  margin: 5vw 0;
}

.single-content .wp-block-pullquote {
  padding: .5vw 0;
}

.elementor .post-content a[role="button"] {
  display: inline-block;
  border: 2px solid #FF513D;
  font-size: 0.833vw !important;
  border-radius: 50px;
  color: #fff;
  background-color: #FF513D;
  text-transform: uppercase;
  letter-spacing: 0.05vw;
  padding: 20px 90px;
  width: auto;
  height: auto;
  text-align: center;
  line-height: 1.2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin-bottom: 4%;
}

.elementor .post-content a[role="button"]:hover {
  background-color: #fff;
  color: #FF513D;
}

.elementor .post-content figure {
  max-width: 100%;
}

.elementor .post-content form.infusion-form {
  max-width: 450px;
  margin: 0 auto;
}

.elementor .post-content form.infusion-form .infusion-field {
  margin-bottom: 1em;
}

.elementor .post-content form.infusion-form .infusion-field>label {
  display: block;
}

.elementor .post-content form.infusion-form .infusion-field-input {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.elementor .post-content form.infusion-form .infusion-submit [type="submit"] {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #FF513D;
  border-radius: 50px;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FF513D;
  padding: 20px 30px;
  width: 100%;
  height: auto;
  line-height: 1.2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.elementor .post-content form.infusion-form .infusion-submit [type="submit"]:hover {
  background-color: #FF513D;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single-content blockquote p {
    font-size: 3vw !important;
    font-weight: 600;
  }

  .single-content .wp-block-media-text__content>blockquote>p:before {
    width: 41vw;
  }

  .single-content .wp-block-media-text__content>blockquote>p {
    padding: 3vw 0 2vw 0;
  }

  .post-content {
    padding: 0 5%;
  }

  .elementor .post-content a[role="button"] {
    font-size: 2vw !important;
    padding: 20px 0;
    width: 100%;
  }

  .post-box {
    padding: 25px 30px !important;
  }

  .post-box .post-btn {
    padding-top: 20px;
  }

  .post-box .post-title a .title {
    font-size: 2vw;
  }
  
    .post-box .post-btn a {
    font-size: 1.5vw !important;
    padding: 10px !important;
}
}

@media only screen and (max-width: 767px) {
  .custom-header {
    position: relative !important;
  }

  #custom-header {
    position: relative !important;
    background-image: linear-gradient(180deg, #090808 0%, #090808 100%);
  }

  .single-content blockquote p {
    font-size: 20px !important;
  }

  .single-content .wp-block-media-text__content>blockquote>p:before {
    display: none;
  }

  /*.single-video .eicon-play:before {*/
  /*    width: 80px;*/
  /*    height: 80px;*/
  /*}*/
  .single-video .eicon-play:before {
    width: 17vw;
    height: 17vw;
    background-size: contain;
  }

  .post-content {
    padding: 0;
  }

  .elementor .post-content a[role="button"] {
    font-size: 4vw !important;
    padding: 15px 7vw;
    line-height: 1.4em;
  }

  .post-box {
    display: block;
    padding: 30px 20px !important;
    height: auto !important;
  }

  .post-box .post-title a .title {
    font-size: 4.5vw;
    line-height: 1.2;
  }

  .post-box .post-btn {
    padding-top: 10px;
  }

  .post-box .post-btn a {
    max-width: 55vw;
    display: block;
    margin: 0 auto;
  }

  .wp-container-1 {
    padding-bottom: 5%;
  }

  .wp-block-button__link {
    padding: calc(.667em + 2px) calc(2em + 2px) !important;
  }
  

}

@media only screen and (min-width: 280px) and (max-width: 320px) {
  .wp-block-button__link {
    padding: calc(.667em + 2px) calc(1.333em + 2px) !important;
  }
}/* End custom CSS */